:root {
    --brown100 :#721121;
    --brown50  :#A5402D;
    --red      :#F15156;
    --creme100 :#FFC07F;
    --creme50  :#FFCF99;
    --gray-100 :#F5F6FA;
    --gray-200 :#DFE1E8;
    --gray-300 :#C0C3CC;
    --gray-400 :#ABAFBA;
    --gray-500 :#979BA6;
    --gray-600 :#787C87;
    --gray-700 :#5C5F69;
    --gray-800 :#393B42;
    --gray-900 :#0A0B0D;

    
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing:antialiased;
    font-family: 'Inter', sans-serif;
    
}

img{
    max-width: 100%;
    display: block;
}

a{
    display: inline-block;
    text-decoration: none;
}
ul{
    list-style: none;
}
html{
    font-size: 62,5%;
    background-color: var(--gray-900);
}
h1,h2,h3,h4,h5,h6{
    color: var(--gray-800);
    font-family: 'Sora', sans-serif;
    line-height: 120%;
}
h1{
    font-size: 5.6rem;
    font-weight: 700;
}
h2{
    font-size: 4.8rem;
    font-weight: 700;
}
h3{
    font-size: 4rem;
    font-weight: 700;
}
h4{
    font-size: 2.8rem;
    font-weight: 600;
}
h5{
    font-size: 2.4rem;
    font-weight: 700; /* 2.88rem */
}
h6{
    font-size: 2.2rem;
    font-weight: 700; /* 2.88rem */
}
p{
    font-size: 1.8;
    line-height: 150%;
}
.container{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 1.5rem;/*tem que diminuir o valor do padding no max-width*/

}
button{
    border: none;
    cursor: pointer;
    padding:1rem 1.5rem;
    background-color: #F67ACB;
    color: var(--color-gray-900, #0A0B0D);
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 1rem */
    letter-spacing: -0.03rem;
}
header{
    display: flex;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid rgba(223, 225, 232, 0.232);
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .container .logo img {
    width: 100%;
    cursor: pointer;
}
.menu{
    display: flex;
    align-items: center;
}
.menu ul{
    display: flex;
    margin-right:3.2rem;
}
.menu ul li{
    padding: 0 10px;
}
.menu ul li a{
    color: var(--gray-100);
    text-align: center;
    font-family: Inter;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.048rem;
}
.hero-principal{
    height: 100%;
    max-height: 52.62rem;
    background-color:var(--color-gray-900);
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-principal .text {
    width: 100%;
    max-width: 44.9rem;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 8rem;
}
.hero-principal h1{
    color: var(--gray-100);
    padding-bottom: 1.5rem;
    text-align: center;
    font-family: Sora;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 4.2rem */
    letter-spacing: -0.105rem;
}
.hero-principal .text p {
    color: var(--gray-300);
    padding-bottom: 2rem;
    text-align: center;
    font-family: Inter;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 1.6875rem */
    letter-spacing: -0.03375rem;
}
.block{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.block .frame1{
    display: block;
    width: 100%;
    max-width: 69.1rem;
    position: relative;
    left: -4rem;
    bottom: -8rem;
    z-index: 1;
}
.block .frame2{
    display: block;
    
    max-width: 23.4rem;
    height: 100%;
    max-height:40.6rem;
    position: absolute;
    z-index: 3;
    top:4.6rem;
    right: 0;
}
.section3 {
    background-color: #0A0B0D;
}
.section3 .container{
    width: 100%;
    max-width: 1280px;
    
}
.container .text {
    width: 100%;
    max-width: 33rem;
    margin: 0 auto;
    margin-top: 8rem;
    
}
.container .text h2 {
    text-align: center;
    color: var(--color-gray-100, #F5F6FA);
    text-align: center;
    font-family: Sora;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 3rem */
    letter-spacing: -0.075rem;
}

